{% extends "auctions/layout.html" %}
{% load static %}

{% block main %}
    <h2>
        {{listing.title}}
        {% if not listing.available and user != winner %}
            <p style="color:red;">Bidding Closed</p>
        {% endif %}
        {% if not listing.available and user == listing.winner %}
            <p style="color:green;">Congratulations! You have won this item!</p>
        {% endif %}
    </h2>
    

    <article>
        <section>
            
            {% if listing.photo_url != null %}
                <img class="image" src="{{listing.photo_url}}" width="150px" height="auto">
            {% endif %}    
            <li>
                Description: {{listing.description}}
            </li>
            <li>
                Seller: {{listing.seller}}
            </li>
            <li>
                {% if listing.available == True %}
                Highest Bid: ${{listing.startbid}} <br>
                {% else %}
                Final Bid: ${{listing.startbid}}
                <li>Winner: {{listing.winner}}</li> <br>
                {% endif %}
                {% if user.is_authenticated and user != listing.seller and listing.available == True %}
                <a href="{% url 'bid' listing.id %}" style="background-color: rgb(161, 197, 161);" >Place Bid</a>
                {% endif %}
            </li>

            {% if user == listing.seller and listing.available == True %}
            <br>
                <a href="{% url 'close' listing.id %}">Close Listing and End Bidding</a>
            {% endif %} 

            {% if user.is_authenticated and user != listing.seller and listing.available == True %}
            <br>
                <a href="{% url 'watchlist_add' listing.id %}">Add to Watchlist</a>
            {% endif %}       
        </section>

        {% if user.is_authenticated %}
            <section>
                <form action="{% url 'comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    {{comment_form}}
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </section>
        {% endif %}
        
        <section>
            <h3>Comments</h3>
            {% for comment in listing.comments.all %}
                <li class="comment-section">
                    {{comment.commenter}}: {{comment.content}}
                </li>
            {% endfor %}
        </section>
    </article>
    
{% endblock %}